div.css-1xarl3l.e1vioofd1{
    background-color: #f3f3f3;
    border: 0.5px solid;
    padding-top: 20px;
    /* padding: 0.5px 0.5px 0.5px 0.5px; */
    /* margin-left: 40px; */
    width: 350px;
    height: 100px;
    border-radius: 0.5px;
    color: #382020;
    box-shadow: 0.5px;
    /* align-items: center;
    align-content: center; */
    text-align: center;
    align-self: center;
   }

span.css-10trblm.eqr7zpz0{
    padding-top: 0px;
}
label.css-wvv94f.e1vioofd2{
    text-align: center;
    align-self: center;
    align-content: center;


}

/* div.css-3mmywe.e15ugz7a0{
    border: 0.5px solid;
} */

.css-8e59e4.esravye2{
    border: 0.5px;
}


/* div.css-1wivap2.e1vioofd3{
    align-items: center;
    align-content: center;

} */
     
.e1g8pov65{
    width: 100% !important;
    overflow-x: hidden;
}
.css-1y4p8pa{
    width: 100%;
    padding: 0px;
    max-width: 95vw !important;
    margin: 0 auto !important;
} 

